
.searchContainer {
  width: 91%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #1c1c1c;
  padding: 10px 14px;
  border-radius: 40px;
  border: 1px solid #333;
  width: 100%;
  max-width: 500px;
  /* margin: auto; */
}

.searchBar input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.searchBtn {
  background: #e50914;
  border: none;
  padding: 12px 18px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.searchBtn:hover {
  background: #b20710;
}

.searchResults {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.moviesGrid {
  margin-top: 15px;
  display: grid;
  /* grid-template-columns: repeat(8, 20fr); */
  gap: 18px;
}

.movieCard {
  text-decoration: none;
  color: white;
  background: #111;
  padding: 10px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.movieCard:hover {
  transform: scale(1.03);
}

.movieCard img {
  width: 100%;
  border-radius: 10px;
}

.movieCard p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 600px) {
  .searchBar {
    gap: 12px;
    padding: 16px;
  }

  .searchBtn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }

  .moviesGrid {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}
